@charset "UTF-8";
/* CSS Document */

h2,h3 {
color: yellow;
font-family: 'Courier New', Courier, monospace;
font-size:18px;
line-height: 18px;
width: 80px;
background-color: purple;
padding: 20px;

}
.drugapozadina {
  background-image: url("digitalni m/slike/IMGP3156.JPG");
}

.multi {color:blue;
font-family: 'Courier New', Courier, monospace;
font-weight: bold;
font-size:25px;



  }


a:link {
  color: black;
  background-color: white;
  padding: 5px;
  line-height: 40px;
  border: 1px solid #000000;
}


a:hover {
  background-color: gray;
}


img {
  height: 200px;
}
