@charset "UTF-8";
/* CSS Document */

h1 {
  color: black;
  font-family: 'Courier New', Courier, monospace;
  font-size:26px;
  line-height: 20px;
  width: 150px;
  background-color: lightyellow;
  padding: 20px;
  text-align: center;
  }
p {
  color: black;
  font-family: 'Courier New', Courier, monospace;
  font-size:18px;
  line-height: 20px;
  width: 580px;
  background-color: lightyellow;
  padding: 30px;
  }
  h2{
    color: yellow;
    font-family: 'Courier New', Courier, monospace;
    font-size:14px;
    line-height: 16px;
    width: 100px;
    background-color: green;
    padding: 10px;
  }

.pozadina {
  background-image: url("slike/pozadina2.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

a:link {
  color: black;
  background-color: white;
  padding: 5px;
  line-height: 40px;
  border: 1px solid #000000;

}
.blok {
  font-family: 'Courier New', Courier, monospace;
color: darkblue;
background-color: rgba(255, 255, 255, 0.3);
padding:20px;
width: 200px;
margin: 20px
