@charset "UTF-8";
/* CSS Document */
h1,h2 {
  color: black;
  font-family: 'Courier New', Courier, monospace;
  font-size:26px;
  line-height: 20px;
  width: 400px;
  background-color: lightblue;
  padding: 20px;
  }

h3{
color: black;
font-family: 'Courier New', Courier, monospace;
font-size:26px;
line-height: 20px;
width: 300px;
background-color: lightblue;
padding: 20px;
}
h4{
  color: yellow;
  font-family: 'Courier New', Courier, monospace;
  font-size:14px;
  line-height: 16px;
  width: 100px;
  background-color: green;
  padding: 10px;
}
  a {
    font-family: 'Courier New', Courier, monospace;

  }
  a:link {
    color: black;
    background-color: white;
    padding: 5px;
    line-height: 40px;
    border: 1px solid #000000;

  }

  a:hover {
    background-color: lightblue;
  }

img {
  height: 350px;
}
.pozadina {
  background-image: url("slike/pozadina2.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

ol {
  color: darkblue;
  font-family: 'Courier New', Courier, monospace;
  font-size:22px;


}


.blok {
  font-family: 'Courier New', Courier, monospace;
color: darkblue;
background-color: rgba(255, 255, 255, 0.3);
padding:20px;
width: 200px;
margin: 20px

}
